h1{
  margin: 1rem auto;
  width: fit-content;
  color: var(--color-text-primary);
}
form#create{
  width: 80%;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;
  justify-content: center/*space-evenly*/;
  border-radius: 10px;
  background-color: var(--color-bg-tertiary);
}
.parameter,.asset{
  display: flex;
  gap: 1rem;
  width: fit-content;
  padding: .5rem;
  border-radius: 10px;
  margin: .25rem;
  align-items: center;
}
.parameters{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.parameter{
  background-color: var(--color-bg-quartiary);
}
.parameter>input, .asset>input{
  width: 7.5rem;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
  font-size: 1rem;
}
div.assets-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.asset{
  background-color: var(--color-action);
  color: var(--color-text-primary);
  align-items: center;
  justify-content: space-evenly;
}
.name{
  margin: 1rem auto 0;
}
div.name>input{
  text-align: center;
  font-size: 1.5rem;
  background: none;
  outline: none;
  border: none;
  color: var(--color-text-primary);
}
button.add{
  border-radius: 50%;
  font-size: 1.25rem;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--color-action);
  border: none;
  color: #e7e7e8;
}
button#build{
  outline: none;
  color: var(--color-text-primary);
  background-color: var(--color-action);
  padding: 6px 15px;
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  border: 0;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  margin: 0 auto 1rem;
}
button#build:hover{
  background: var(--color-action-hover);
  transform: translateY(-2px);
  filter: drop-shadow(0 7px 30px #646cff5e);
}
button.remove{
  border: none;
  outline: none;
  background: none;
  color:var(--color-text-primary);
  padding-right: 0.5rem;
  font-size: 1.5rem;
}